#main { 
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    height: 800px;
    background-color: #EFEFEF;
    text-align: center;
}
#footer2 {
    position: absolute;
    top: 850px;
    width: 100%;
    color: white;
    font-size: 10pt;
    text-align: center;
}
body {
    line-height: 1;
    background-color: #EFEFEF;
    font-family: "Open Sans", Helvetica, sans-serif;
    overflow-x: hidden;
}
.link {
    color: black;
    text-decoration: none;
}
.link:hover {
    color: #EE4B3E;
    text-decoration: underline;
}
.num {
    width: 106px;
    text-align: center;
    display: inline-block;
    font-size: 800%;
    margin-bottom: 30px;
}
.num:hover {
    color: #EE4B3E;
    text-decoration: underline;
}
.num:active {
    color: #0E264D;
    text-decoration: underline;
}
.op {
    width: 106px;
    text-align: center;
    display: inline-block;
    font-size: 500%;
}
.op:hover {
    color: #EE4B3E;
    text-decoration: underline;
}
.op:active {
    color: #0E264D;
    text-decoration: underline;
}
h2 {
    font-size: 400%;
    color: black;
}
#command {
    margin-top: 20px;
}
.output {
    margin-top: -25px;
    font-size: 300%;
    color: #EE4B3E;
}
#currenttotal {
    font-size: 600%;
    position: relative;
    text-align: centre;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    color: #EE4B3E;
}
#title {
    text-align: center;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 300%;
    margin-bottom: 0px;
    margin-top: 1px;
    padding-top: 10px;
    padding-bottom: 20px;
    display: inline-block;
    color: #3C3C3C;
    font-weight: 800;
    letter-spacing: 3px;
    line-height: 16px;
    text-transform: uppercase;
    line-height: 28px;
    text-decoration: none;
}
#title:hover {
    color: #EE4B3E;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
#text11 {
    width: 90%;
    color: black;
    margin-top: 25px;
    margin-left: 49px;
}
#text11 li{
    margin-left: 15px;
    margin-top: 8px;
}
#text12 {
    line-height: 1.4;
    width: 90%;
    color: black;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 2px;
    margin-bottom: -15px;
}
.link1 {
    color: #0E264D;
    text-decoration: none;
    margin-right: -30em;
    margin-left: 10px;
    float: left;
}
.link1:hover {
    color: #EE4B3E;
    text-decoration: underline;
}
/* Standard syntax */

@keyframes bgchange {
    0% {
        background-color: red;
    }
    25% {
        background-color: yellow;
    }
    50% {
        background-color: blue;
    }
    100% {
        background-color: green;
    }
}
@keyframes opacityChange {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.1;
    }
    50% {
        opacity: 0.8;
    }
    100% {
        opacity: 0.3;
    }
}
@keyframes colorChange {
    0% {
        color: red;
    }
    25% {
        color: green;
    }
    50% {
        color: red;
    }
    100% {
        color: black;
    }
}
.updateTotal {
    -webkit-animation-name: colorChange;
    /* Safari 4.0 - 8.0 */
    
    -webkit-animation-duration: 4s;
    /* Safari 4.0 - 8.0 */
    
    animation-name: colorChange;
    animation-duration: 4s;
    animation-delay: 4s;
}
.greyOut {
    opacity: 0.3;
    -webkit-animation-name: opacityChange;
    /* Safari 4.0 - 8.0 */
    
    -webkit-animation-duration: 3s;
    /* Safari 4.0 - 8.0 */
    
    -webkit-animation-delay: 2s;
    /* Safari 4.0 - 8.0 */
    
    animation-name: opacityChange;
    animation-delay: 2s;
    animation-duration: 3s;
}
.cool {
    background-color: #EFEFEF;
    -webkit-animation-name: bgchange;
    /* Safari 4.0 - 8.0 */
    
    -webkit-animation-duration: 1s;
    /* Safari 4.0 - 8.0 */
    
    animation-name: bgchange;
    animation-duration: 1s;
}
.numUsed {
    opacity: 0.3;
    width: 105px;
    text-align: center;
    display: inline-block;
    font-size: 800%;
}
.box15 {
    margin: 20px auto;
    top: 0px;
    width: 320px;
    height: 600px;
    padding: 10px;
    position: relative;
    background: -webkit-gradient(linear, 100% 100%, 50% 10%, from(#fff), to(#f3f3f3), color-stop(.1, #fff));
    border: 1px solid #ccc;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    -webkit-border-bottom-right-radius: 60px 5px;
}
.box15:before {
    content: '';
    width: 98%;
    z-index: -1;
    height: 100%;
    padding: 0 0 1px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#fff), to(#f9f9f9), color-stop(.1, #fff));
    border: 1px solid #ccc;
    -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    -webkit-border-bottom-right-radius: 60px 5px;
    -webkit-transform: skew(2deg, 2deg) translate(3px, 8px)
}
.box15:after {
    content: '';
    width: 98%;
    z-index: -1;
    height: 98%;
    padding: 0 0 1px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    background: -webkit-gradient(linear, 0% 20%, 0% 100%, from(#f3f3f3), to(#f6f6f6), color-stop(.1, #fff));
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    -webkit-transform: skew(2deg, 2deg) translate(-1px, 2px)
}
.box15_ribbon {
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
    height: 40px;
    background: -webkit-gradient(linear, 555% 20%, 0% 92%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0)), color-stop(.1, rgba(0, 0, 0, 0.2)));
    border-left: 1px dashed rgba(0, 0, 0, 0.1);
    border-right: 1px dashed rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(-30deg) skew(0, 0) translate(-30px, -20px);
}
.box15 img {
    height: 365px;
    width: 100%;
    margin-bottom: 15px;
}
p {
    margin-top: 15px;
    text-align: justify;
}
.box15 {
    margin: 100px auto;
    width: 920px;
    min-height: 500px;
    padding: 10px;
    position: relative;
    background: -webkit-gradient(linear, 100% 100%, 50% 10%, from(#fff), to(#f3f3f3), color-stop(.1, #fff));
    border: 1px solid #ccc;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    -webkit-border-bottom-right-radius: 60px 5px;
}
.box15 li {
    margin: 0px;
}
.box15:before {
    content: '';
    width: 98%;
    z-index: -1;
    height: 100%;
    padding: 0 0 1px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    background: -webkit-gradient(linear, 0% 20%, 0% 92%, from(#fff), to(#f9f9f9), color-stop(.1, #fff));
    border: 1px solid #ccc;
    -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    -webkit-border-bottom-right-radius: 60px 5px;
    -webkit-transform: skew(2deg, 2deg) translate(3px, 8px)
}
.box15:after {
    content: '';
    width: 98%;
    z-index: -1;
    height: 98%;
    padding: 0 0 1px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    background: -webkit-gradient(linear, 0% 20%, 0% 100%, from(#f3f3f3), to(#f6f6f6), color-stop(.1, #fff));
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    -webkit-transform: skew(2deg, 2deg) translate(-1px, 2px)
}
.box15_ribbon {
    position: absolute;
    top: 0;
    left: 0;
    width: 130px;
    height: 40px;
    background: -webkit-gradient(linear, 555% 20%, 0% 92%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0)), color-stop(.1, rgba(0, 0, 0, 0.2)));
    border-left: 1px dashed rgba(0, 0, 0, 0.1);
    border-right: 1px dashed rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotate(-30deg) skew(0, 0) translate(-30px, -20px);
}
.box15 img {
    height: 360px;
    width: 640px;
    margin-top: 15px;
}

#image {
    display: none;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 8px 8px 10px #aaa;
}
#lightbox {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
#positionBigImage {
    position: absolute;
    top: 15px;
    left: 0px;
    width: 100%;
}
#boundaryBigImage {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    z-index: 1;
}
#x {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 30px;
    z-index: 2;
}
.hidden {
    display: none;
}
.unhidden {
    display: block;
}
.button {
    border-radius: 3px;
    border-color: black;
    border: 20px;
    box-shadow: inset 0 0 0 3px black;
    color: black;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
    display: inline-block;
    font-size: 400%;
    font-weight: 800%;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.button:hover {
    color: white;
    background-color: #EE4B3E;
}
.modal {
    display: block;
    /* Hidden by default */
    
    position: fixed;
    /* Stay in place */
    
    z-index: 1;
    /* Sit on top */
    
    padding-top: 100px;
    /* Location of the box */
    
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    
    height: 100%;
    /* Full height */
    
    overflow: auto;
    /* Enable scroll if needed */
    
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}
input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input[type=text]:focus {
    border: 3px solid #555;
}

.modal-content {
    line-height: 1.5;
    background-color: #EFEFEF;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: left;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
h1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    color: #3C3C3C;
    text-align: center;
}
h4 {
    color: #3C3C3C;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 16px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
}
h5 {
    color: #EE4B3E;
    font-weight: 800;
    letter-spacing: 30px;
    line-height: 16px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
}
h6 {
    color: #EE4B3E;
    font-weight: 800;
    letter-spacing: 30px;
    line-height: 5px;
    margin-bottom: 20px;
    margin-top: 40px;
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
}
/*
The following lines code for the menu has been borrowed from another website.
Source: http://codepen.io/Dreamdealer/pen/yEmwd
Website: Codepen
Author: Johan van Tongeren
*/
#menu {
    width: 1090px;
    height: 42px;
    list-style: none;
    margin-top: 2px;
    margin-bottom: 52px;
    padding: 0px 10px;
    border-bottom: 4px double #AAA;
    position: relative;
    text-align: center;
}
#menu li {
    display: inline-block;
    width: 190px;
    margin: 35px 0px 10px;
    position: relative;
    -webkit-transform: skewy(-3deg);
    -webkit-backface-visibility: hidden;
    -webkit-transition: 200ms all;
}
#menu li a {
    text-transform: capitalized;
    font-family: 'Squada One', cursive;
    font-weight: 800;
    display: block;
    background: #FFF;
    padding: 2px 10px;
    color: #333;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    position: relative;
    z-index: 1;
    text-shadow: 1px 1px 0px #FFF, 2px 2px 0px #999, 3px 3px 0px #FFF;
    background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, .05) 100%);
    -webkit-transition: 1s all;
    background-image: -webkit-linear-gradient(left top, transparent 0%, transparent 25%, rgba(0, 0, 0, .15) 25%, rgba(0, 0, 0, .15) 50%, transparent 50%, transparent 75%, rgba(0, 0, 0, .15) 75%);
    background-size: 5px 4px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .4) inset, 0 0 20px -5px rgba(0, 0, 0, .4), 0 0 0px 3px #FFF inset;
}
#menu li:hover {
    width: 200px;
    margin: 0 -5px;
}
#menu a:hover {
    color: #EE4B3E;
}
#menu li:after,
#menu li:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 100%;
    background: #BBB;
    -webkit-transform: skewY(8deg);
    border-radius: 4px;
}
#menu li:after {
    right: 0;
    top: -4px;
}
#menu li:before {
    left: 0;
    bottom: -4px;
}
